$primary-color: #673ab7;
$accent-color: #ffd740;
$warn-color: #f24236;

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: rgba(68, 87, 106, 0.66);
  border-radius: 10px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 1);
  padding: 20px;
  margin: 20px auto;
}

.container {
  width: 30vw;
  min-width: 350px;
  height: 325px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
}

.word {
  font-weight: bold;
  font-size: 22px;
}

.button-container-row {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.wrong-answer {
  background-color: $warn-color !important; /* Override default styles */
  color: white !important; /* Ensure text is readable */
  height: 60px;
  border-radius: 8px;

  ::ng-deep .mdc-button__label {
    margin-left: -6px;
    margin-right: -6px;

  }
}

.good-answer {
  background-color: green !important; /* Override default styles */
  color: white !important; /* Ensure text is readable */
  height: 60px;
  border-radius: 8px;

  ::ng-deep .mdc-button__label {
    margin-left: -6px;
    margin-right: -6px;

  }
}

.settings-close {
  &:hover {
    cursor: pointer;
    color: $warn-color;
  }
}

.settings-open {
  &:hover {
    cursor: pointer;
    color: $accent-color;
  }
}

.counter {
  font-weight: bold;
  font-size: 12px;
}

.green-text {
  color: #00b500;
}

.red-text {
  color: #ff7b7b;
}

.header-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-bottom: 10px;
}

.disable-button {
  height: 60px;
  border-radius: 8px;

  ::ng-deep .mdc-button__label {
    margin-left: -6px;
    margin-right: -6px;

  }
}

.answer-button {
  background-color: $primary-color !important; /* Override default styles */
  color: white !important; /* Ensure text is readable */
  height: 60px;
  border-radius: 8px;

  ::ng-deep .mdc-button__label {
    margin-left: -6px;
    margin-right: -6px;

  }
}
