<div class="center">
  <mat-card class="card" appearance="outlined">
    <div class="header-container">
      <div>
        <span class="counter green-text">{{ correctAnswerCounter }}</span>
        /
        <span class="counter red-text">{{ inCorrectAnswerCounter }}</span>
      </div>
      <div>
        <mat-slide-toggle [(ngModel)]="settings"></mat-slide-toggle>
      </div>
    </div>
    <mat-card-content class="container">
      <ng-template [ngIf]="!settings">
        <ng-template [ngIf]="englishToPolish">
          <div class="word">
            {{ currentWord.english }}
          </div>
        </ng-template>
        <ng-template [ngIf]="!englishToPolish">
          <div class="word">
            {{ currentWord.polish }}
          </div>
        </ng-template>
        <div class="button-container-row answer-buttons" style="padding-top: 14px">
          <ng-template [ngIf]="isLoading">
            <div>
              {{ count }}
            </div>
          </ng-template>
          <ng-template [ngIf]="!isLoading">
            <div>
              <button [disabled]="disableButton1" class="answer-button" mat-raised-button
                      color="primary"
                      (click)="checkAnswer(answers[0])">{{ answers[0] }}
              </button>
            </div>
            <div>
              <button [disabled]="disableButton2" class="answer-button" mat-raised-button
                      color="primary"
                      (click)="checkAnswer(answers[1])">{{ answers[1] }}
              </button>
            </div>
            <div>
              <button [disabled]="disableButton3" class="answer-button" mat-raised-button
                      color="primary"
                      (click)="checkAnswer(answers[2])">{{ answers[2] }}
              </button>
            </div>
          </ng-template>
        </div>
        <div class="button-container-row answer-buttons">
          <ng-template [ngIf]="!isLoading">
            <div>
              <button [disabled]="disableButton4" class="answer-button" mat-raised-button
                      color="primary"
                      (click)="checkAnswer(answers[3])">{{ answers[3] }}
              </button>
            </div>
            <div>
              <button [disabled]="disableButton5" class="answer-button" mat-raised-button
                      color="primary"
                      (click)="checkAnswer(answers[4])">{{ answers[4] }}
              </button>
            </div>
            <div>
              <button [disabled]="disableButton6" class="answer-button" mat-raised-button
                      color="primary"
                      (click)="checkAnswer(answers[5])">{{ answers[5] }}
              </button>
            </div>
          </ng-template>
        </div>
        <div class="button-container-row answer-buttons">
          <ng-template [ngIf]="!isLoading">
            <div>
              <button [disabled]="disableButton7" class="answer-button" mat-raised-button
                      color="primary"
                      (click)="checkAnswer(answers[6])">{{ answers[6] }}
              </button>
            </div>
            <div>
              <button [disabled]="disableButton8" class="answer-button" mat-raised-button
                      color="primary"
                      (click)="checkAnswer(answers[7])">{{ answers[7] }}
              </button>
            </div>
            <div>
              <button [disabled]="disableButton9" class="answer-button" mat-raised-button
                      color="primary"
                      (click)="checkAnswer(answers[8])">{{ answers[8] }}
              </button>
            </div>
          </ng-template>
        </div>
      </ng-template>
      <ng-template [ngIf]="settings">
        <div class="word">
          {{ 'count down' }}
          <mat-slide-toggle [(ngModel)]="countDown" (ngModelChange)="settingChanged()">
          </mat-slide-toggle>
        </div>
        <div class="word">
          {{ 'auto next' }}
          <mat-slide-toggle [(ngModel)]="autoNext" (ngModelChange)="settingChanged()"></mat-slide-toggle>
        </div>
        <div class="word">
          {{ 'auto read' }}
          <mat-slide-toggle [(ngModel)]="autoRead" (ngModelChange)="settingChanged()"></mat-slide-toggle>
        </div>
      </ng-template>
      <div class="button-container-row" style="padding-top:14px">
        <div>
          <button [disabled]="settings" mat-raised-button color="accent" (click)="shuffle()">Shuffle</button>
        </div>
        <div>
          <button [disabled]="settings || !englishToPolish" mat-raised-button color="accent" (click)="readText()">
            <span class="material-icons">volume_up</span>
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
