.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: rgba(68, 87, 106, 0.66);
  border-radius: 10px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 1);
  padding: 20px;
  margin: 20px auto;
}

.container {
  width: 20vw;
  min-width: 200px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.word {
  font-weight: bold;
  font-size: 22px;
}
