.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: rgba(68, 87, 106, 0.66);
  border-radius: 10px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 1);
  padding: 20px;
  margin: 20px auto;
}

.container {
  width: 30vw;
  min-width: 350px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
}

.word {
  font-weight: bold;
  font-size: 22px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.settings {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.counter {
  font-weight: bold;
  font-size: 12px;
}

.green-text {
  color: #00b500;
}

.red-text {
  color: #ff7b7b;
}

.header-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-bottom: 10px;
}

.answer-button {
  height: 60px;
  border-radius: 8px;
  ::ng-deep .mdc-button__label {
    margin-left: -10px;
    margin-right: -10px;


  }
}
