<div class="center">
  <mat-card class="card" appearance="outlined">
    <div class="header-container">
      <div>
        <span class="counter green-text">{{ correctAnswerCounter }}</span> /
        <span class="counter red-text">{{ inCorrectAnswerCounter }}</span>
      </div>
      <div>
        <span *ngIf="settings" class="material-icons settings-close" (click)="settingsToggle()">close</span>
        <span *ngIf="!settings" class="material-icons settings-open" (click)="settingsToggle()">settings</span>
      </div>
    </div>
    <mat-card-content class="container">
      <ng-template [ngIf]="!settings">
        <ng-template [ngIf]="englishToPolish">
          <div class="word"> {{ currentWord.english }}</div>
        </ng-template>
        <ng-template [ngIf]="!englishToPolish">
          <div class="word"> {{ currentWord.polish }}</div>
        </ng-template>
        <div class="button-container-row answer-buttons" style="padding-top: 14px">
          <ng-template [ngIf]="isLoading">
            <div> {{ count }}</div>
          </ng-template>
        </div>
        <ng-container *ngIf="!isLoading">
          <div class="button-container-row answer-buttons" *ngFor="let row of buttonRows">
            <button *ngFor="let i of row" [disabled]="buttonStatuses[i] === 3" mat-raised-button
                    [ngClass]="{'answer-button': buttonStatuses[i] === 0,'good-answer': buttonStatuses[i] === 1,
                    'wrong-answer': buttonStatuses[i] === 2, 'disable-button': buttonStatuses[i] === 3}"
                    (click)="checkAnswer(answers[i], i)">
              {{ answers[i] }}
            </button>
          </div>
        </ng-container>
      </ng-template>
      <ng-template [ngIf]="settings">
        <div class="word">{{ 'count down' }}
          <mat-slide-toggle [(ngModel)]="countDown" (ngModelChange)="settingChanged()"></mat-slide-toggle>
        </div>
        <div class="word">
          {{ 'auto next' }}
          <mat-slide-toggle [(ngModel)]="autoNext" (ngModelChange)="settingChanged()"></mat-slide-toggle>
        </div>
        <div class="word">
          {{ 'auto read' }}
          <mat-slide-toggle [(ngModel)]="autoRead" (ngModelChange)="settingChanged()"></mat-slide-toggle>
        </div>
      </ng-template>
      <div class="button-container-row" style="padding-top:14px">
        <div>
          <button [disabled]="settings || isLoading" mat-raised-button color="accent" (click)="shuffle()">Shuffle
          </button>
        </div>
        <div>
          <button [disabled]="settings || !englishToPolish" mat-raised-button color="accent" (click)="readText()">
            <span class="material-icons">volume_up</span>
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
